{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}

    <h1>Formulaire d'inscription</h1>
    {{ form(form) }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <input type="submit" value="Enregistrer" />
    {{ form_end(form) }}


{% endblock %}
