h1
{
    margin-left: 134px;
    font-size: 5em !important;
    font-family: 'Playfair Display SC', serif;
    color: #995629;
    opacity: 0.7;
}

h2
{
    color: #79736e;
    font-size: 25px !important;
    font-family: 'Chakra Petch', sans-serif;
}

p
{
    font-family: 'Chakra Petch', sans-serif;

}


a
{
    text-align: center;
    display: block;
    color: #f2faff !important;
    font-family: 'Chakra Petch', sans-serif;
}

ul
{
    padding: 0;
    list-style-type: none;
}


.navbar-fixed-background ul li
{
    margin-bottom: 2.8em;
}


.navbar-fixed-background img
{
    padding-bottom: -30px;
    width: 30px;

}

.navbar-fixed-background
{

    padding-top: 187px;
    padding-bottom: 209px;
    position: fixed;
    justify-content: center;
    display: flex;
    flex-direction: column;
    float: left;
    width: 6rem;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 4999;
    background: none repeat scroll 0 0 #c48446;
    border-right: .2rem solid white;
    overflow: hidden;
    transform: translate3d(0,0,0)
}


.article
{

    margin-left: 137px;

}
 /*.article2
 {
     margin-left: 137px;

 }

 .article3
 {
     margin-left: 137px;

 }*/

 .article4
 {
     margin-left: 137px;

 }

 .article5
 {
     margin-left: 137px;

 }

.article img
{
    margin-right: 100px;
    margin-bottom: 15px;
    width: 450px;
    height: 300px;
}

/*.article2 .art
{
    margin-bottom: 15px;
    width: 450px;
    height: 300px;
}

.article3 .dobree
{
    margin-bottom: 15px;
    width: 450px;
    height: 300px;
}*/

.article4 .jules
{
    margin-bottom: 15px;
    width: 450px;
    height: 300px;
}

.article5 .naturelle
{
    margin-bottom: 15px;
    width: 450px;
    height: 300px;
}

footer
{
    position: absolute;
    bottom: 0;
    margin-left: 1550px;
    margin-bottom: -1800px;
    color: grey;
    font-family: 'Chakra Petch', sans-serif;
    border-style: double;
    text-align: center;
}

footer p
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}