body
{
    background-image: url('../image/expo.jpg');
    background-size: cover;
    background-position: center;
}

h1
{
    text-align: center;
    font-size: 3.5em;
    font-family: 'Playfair Display SC', serif;
    color: #CE372D;
}

form
{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    flex-direction: column;
    margin-top: 70px;
}

form label
{
    display: flex;
    text-align: center;
    font-size: 1.5em;
    flex-direction: column;
    color: #330000;
}

.btn
{
    margin-top: 85px;
    font-size: 1.6em;
    font-family: 'Playfair Display SC', serif;
    color: white !important;
    transition: all 0.3s;
    position: relative;
    line-height: 50px;
    height: 60px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    background-color: #9CA4A6;
}

button span
{
    transition: all 0.3s;
}

button::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    transform: scale(0.1, 1);
}


button:hover::before
{
    opacity: 1;
    transform: scale(1, 1);
}

button::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}

button:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

nav >ul >li a:hover
{
    color: #995629;
}

a
{
    text-align: center;
    display: block;
    color: #f2faff !important;
}

ul
{
    padding: 0;
    list-style-type: none;
}


.navbar-fixed-background ul li
{
    margin-bottom: 2.8em;
}


.navbar-fixed-background img
{
    padding-bottom: -30px;
    width: 30px;

}

.navbar-fixed-background
{

    padding-top: 187px;
    padding-bottom: 209px;
    position: fixed;
    justify-content: center;
    display: flex;
    flex-direction: column;
    float: left;
    width: 6rem;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 4999;
    background: none repeat scroll 0 0 #c48446;
    border-right: .2rem solid white;
    overflow: hidden;
    transform: translate3d(0,0,0)
}

footer
{
    position: absolute;
    bottom: 0;
    margin-left: 1550px;
    margin-bottom: 24px;
    color: black;
}
