body
{
    background-image: url('../image/expo-index.jpg');
    background-size: cover;
    text-align: center !important;
}

h1
{
    text-align: center;
    font-size: 3.5em;
    font-family: 'Playfair Display SC', serif;
    color: #CE372D;
}


.table
{
    width: 94% !important;
    margin-bottom: 1rem;
    color: #212529;
    margin-left: 100px;
}

table
{
    border-collapse: collapse;
    border-style: double;
}

*, ::after, ::before
{
    box-sizing: border-box;
}

.table td, .table th
{
    padding: 2rem;
    vertical-align: text-top;
    border-top: double black !important;
}



nav >ul >li a:hover
{
    color: #995629;
}

nav >ul >li a
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: #c48446;
    margin-bottom: 10px;
}

ul
{
    list-style-type: none;
}

.navbar-fixed-background
{
    position: fixed;
    display: block;
    float: left;
    width: 6rem;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 4999;
    background: none repeat scroll 0 0 #c48446;
    border-right: .2rem solid white;
    overflow: hidden;
    transform: translate3d(0,0,0)
}

.navbar-content.sidebar
{
    margin-left: 97px;
    margin-top: 53px;
    font-size: 1.3em;
    display: block;
    width: 26%;
    left: 6rem;
}

.navbar-content {
    bottom: 15vh;
    z-index: 6000;
}

footer
{
    position: absolute;
    bottom: 0;
    margin-left: 1550px;
    margin-bottom: 24px;
    color: black;
}
