{% extends 'base.html.twig' %}

{% block title %}Edit Expo{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/expo_index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <h1>Edit Expo</h1>

    {{ include('expo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('expo_index') }}">back to list</a>

    {{ include('expo/_delete_form.html.twig') }}
{% endblock %}
