<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    {% block body %}
    {% endblock %}
        {% block menu %}
            <div class="navbar-fixed-background">
                <ul>
                    <li><a href="../home"> <img class= "home" src="../image/home1.png" alt="icone d'accueil"><p>Accueil</p></a></li>
                    <li><a href="../expo/new"><img class= "expos" src="../image/expos.png" alt="icone d'expos"><p>Expositions</p></a></li>
                    <li><a href="../reservation/new"><img class= "ticket" src="../image/movie-tickets.png" alt="icone ticket"><p>Réservation</p></a></li>
                    <li><a href="../"><img class= "musees" src="../image/musées.png" alt="icone musees"><p>Musées</p></a></li>
                    <li><a href="../user/new"><img class="telephone" src= "../image/telephone.png" alt="icone tel"><p>Contact</p></a></li>
                </ul>
            </div>
        {% endblock %}

    <footer class="bandeaubas">
        <p>
            Contactez-nous :

            Nantes tourisme <br>
            Lundi - Samedi de 10h à 18h <br>
            Dimanche et jours fériés de 10h à 17h <br>
            7j/7 de 9h à 19h juillet et août

        </p>
    </footer>


    </body>
</html>
